### Premier League Crawling

In [71]:
from selenium import webdriver

In [248]:
url = "https://1xbet.whoscored.com/Regions/252/Tournaments/2/England-Premier-League"
driver = webdriver.Chrome()
driver.get(url)

table = {
    "Team":[],
    "played":[],
    "win":[],
    "draw":[],
    "lose":[],
    "goalfor":[],
    "goalagst":[],
    "goaldiff":[],
    "points":[],
    "form":[]
}
table_df = pd.DataFrame(table)

for n in range(1, 21):
    title = driver.find_element_by_css_selector("#standings-18685-content > tr:nth-child({}) > td:nth-child(1)".format(n)).text
    data = driver.find_element_by_css_selector("#standings-18685-content > tr:nth-child({})".format(n)).text.replace(title, "").split(" ")[1:]

    if n < 10:
        title = title[1:]
    else:
        title = title[2:]
    
    table_df.loc[n] = [title] + data

driver.quit()    
    
table_df

,Team,played,win,draw,lose,goalfor,goalagst,goaldiff,points,form
1,Liverpool,7,5,1,1,17,15,+2,16,WWLDWW
2,Everton,6,4,1,1,14,9,+5,13,WWWWDL
3,Wolverhampton Wanderers,7,4,1,2,8,8,0,13,LLWWDW
4,Chelsea,7,3,3,1,16,9,+7,12,LDWDDW
5,Aston Villa,5,4,0,1,12,5,+7,12,WWWWL
6,Leicester,6,4,0,2,13,8,+5,12,WWWLLW
7,Tottenham,6,3,2,1,16,8,+8,11,LWDWDW
8,Manchester City,6,3,2,1,9,8,+1,11,WLDWDW
9,Leeds,6,3,1,2,12,9,+3,10,LWWDLW
10,Southampton,6,3,1,2,10,9,+1,10,LLWWDW
11,Crystal Palace,7,3,1,3,8,11,-3,10,WLLDWL
12,Arsenal,6,3,0,3,8,7,+1,9,WWLWLL
13,West Ham,7,2,2,3,13,10,+3,8,LWWDDL
14,Newcastle United,6,2,2,2,8,10,-2,8,WLDWLD
15,Manchester United,5,2,1,2,9,12,-3,7,LWLWD
16,Brighton,6,1,2,3,10,12,-2,5,LWLLDD
17,West Bromwich Albion,6,0,3,3,6,14,-8,3,LLDLDD
18,Sheffield United,7,0,1,6,3,10,-7,1,LLLDLL
19,Fulham,6,0,1,5,5,14,-9,1,LLLLDL
20,Burnley,6,0,1,5,3,12,-9,1,LLLDLL